<ion-header class="text-success" no-border>
    <ion-navbar color="white">
        <div class="test_me">
            Excellent Eco Carwash
        </div>

        <ion-segment [(ngModel)]="cat">
            <ion-segment-button value="#">
                <i class="fa fa-globe fa-1x" (click)="goToMap()" aria-hidden="true"></i>
            </ion-segment-button>
            <ion-segment-button value="cars">
                <span class="our_text">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Find Us
                </span>
            </ion-segment-button>
            <ion-segment-button value="map">
                <span class="our_text">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  Washers
              </span>
          </ion-segment-button>
      </ion-segment>


  </ion-navbar>
</ion-header>

<ion-content padding>


    <div [ngSwitch]="cat">
        <ion-list *ngSwitchCase="'cars'">
             <div class="row">
                 <div class="col-xs-12">
                     <img src="assets/img/map_location.jpg" class="img-responsive" (click)="goToMap()"/>
                 </div>
             </div>

             <h3 class="profile-username text-center">Tokai Garage</h3>

             <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Mobile</b> <a class="pull-right">+27 78 862 1769</a>
                </li>
                <li class="list-group-item">
                  <b>Website</b> <a class="pull-right">excellentecocarwash.co.za</a>
                </li>
              </ul>

        </ion-list>



        <ion-list *ngSwitchCase="'map'">
            <div class="row">
                <div class="col-xs-12">
                    <div class="direct-chat direct-chat-warning">
                        <div class="direct-chat-msg right">
                            <!-- /.direct-chat-info -->
                            <img class="direct-chat-img" src="assets/img/avatar.png" alt="user">
                            <!-- /.direct-chat-img -->
                            <div class="direct-chat-text">
                                <small><i class="fa fa-plus" aria-hidden="true"></i> All our washers are registered in our main database and you can confirm the validity of a washer before they start.</small>
                            </div>
                            <!-- /.direct-chat-text -->
                        </div>
                    </div>
                </div>
            </div>

            <ul class="users-list clearfix">
                <li *ngFor="let washer of washer | async" (click)="goToWasherDetail(washer)">
                  <img [src]="washer.washer_image" alt="User Image">
                  <a class="users-list-name"><small>{{washer.washer_name}}</small></a>
                  <span class="users-list-date" *ngIf="(washer.washer_available == 2)">
                    <small>
                    <i class="fa fa-circle text-danger" aria-hidden="true"></i>
                </small>
                </span>

                <span class="users-list-date" *ngIf="(washer.washer_available == 1)">
                    <small>
                    <i class="fa fa-circle text-success" aria-hidden="true"></i>
                </small>
                </span>
            </li>
        </ul>


    </ion-list>
</div>


<!-- Where are you trying to place the uid? -->

</ion-content>

<ion-fab left bottom>
    <button ion-fab color="prox"><ion-icon ios="ios-menu" md="md-menu"></ion-icon></button>
    <ion-fab-list side="top">
        <button ion-fab color="prox" (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
        <button ion-fab color="prox" (click)="goToServices()"><i class="fa fa-cog" aria-hidden="true"></i></button>
        <button ion-fab color="prox" (click)="goToFaq()"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
        <button ion-fab color="prox" (click)="goToProfile()"><i class="fa fa-user" aria-hidden="true"></i></button>
    </ion-fab-list>
</ion-fab>

<ion-fab right bottom>
    <button ion-fab color="prox" (click)="goToProfile()"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
</ion-fab>