<ion-header>
  <ion-navbar  color="prox">
    <ion-title>PROXiMAT<small>&reg;</small> </ion-title>
    <ion-buttons start>
      <button ion-button>

      </button>
    </ion-buttons>

    <ion-buttons end>
        <button ion-button (click)="saveChanges()">
            Save
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>



<ion-content class="geofence-details-page" padding>
  <div class="row">
    <div class="col-xs-8">
      <button type="button" (click)="uploadPic()" *ngIf="imageLocalURL" class="btn btn-warning btn-block">
        <small>
          <i class="fa fa-upload" aria-hidden="true"></i>(<i>Upload Image First Before Saving Hazard</i>)
        </small>
      </button>
    </div>

    <div class="col-xs-2">
      <span class="fa-stack fa-lg" (click)="takePic()">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i>
        </span>
    </div>

    <div class="col-xs-2">
        <span class="fa-stack fa-lg" (click)="takePic2()">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
        </span>
    </div>
  </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-warning"></i></span>
          <input class="form-control" [(ngModel)]="notificationText" type="text" placeholder="Add Hazard Description Text Here">
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <ion-item>
          <ion-label><span class="text-warning pull-left"><i class="fa fa-dot-circle-o"></i> Alert When User...?</span></ion-label>
          <ion-select [(ngModel)]="transitionType">
            <ion-option value="1">Enter Region</ion-option>
            <ion-option value="2">Exit Region</ion-option>
            <ion-option value="3">Enter or Exit Region</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ion-item>
          <ion-label><span class="text-warning pull-left"><i class="fa fa-list"></i> Select Hazard Type</span></ion-label>
          <ion-select [(ngModel)]="selectedHazardType">
            <ion-option *ngFor="let hazard of hazardTypes; let i = index;" value="{{i}}">{{hazard.name}}</ion-option>
          </ion-select>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ion-item>
        <ion-label><span class="text-warning pull-left"><i class="fa fa-calendar"></i> Select Hazard Start Time
        <span class="pull-right">Day/Month/Year</span>
        </span></ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="StartDate"></ion-datetime>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ion-item>
          <ion-label><span class="text-warning pull-left"><i class="fa fa-calendar"></i> Select (Est) Hazard End Date
          <span class="pull-right">Day/Month/Year</span>
          </span></ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="EndDate"></ion-datetime>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ion-item>
          <ion-range min="10" max="100" [(ngModel)]="radius" secondary>
          <ion-label range-left  ><span class="text-warning">Radius:</span></ion-label>
            <ion-label range-right><span class="text-warning">{{radius}}m</span></ion-label>
          </ion-range>
        </ion-item>
      </div>
    </div>

    <div class="map-container2">
        <div id="map2">
        </div>
    </div>
</ion-content>