<ion-header class="text-success" no-border>
    <ion-navbar color="white">

        <ion-title><span class="text-success header_ndini">Your Bookings </span></ion-title>
        <ion-buttons start>
            <button ion-button>

      </button>
        </ion-buttons>

        <ion-buttons end>
            <span class="fa-stack fa-lg" (click)="new()">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
      </span>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content class="geofence-list-page" padding>


    <div class="editTools">
        <div class="col-xs-12">
            <div class="direct-chat direct-chat-info">
                <div class="direct-chat-msg right">
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="assets/img/avatar.png" alt="user">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        <small>You are about to add a booking to your account</small>
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success btn-block" (click)="new()"> Add A New Booking</button>
        </div>
    </div>






    <ion-card *ngIf="!isLoading && geofences.length === 0">
        <ion-card-header>
            There are no cameras yet.
        </ion-card-header>
    </ion-card>
    <ion-card *ngIf="isLoading">
        <ion-card-header>
            Loading geofences...
        </ion-card-header>
    </ion-card>
</ion-content>