geofence-list-page {
  .ion-list {
    margin-bottom: 80px;
  }

  .add-geofence-button {
  z-index: 100;
  }



  .hazard_name {
  	color : #ffcc00;
  }

  .lig {
    font-weight : lighter;
  }

  .pageText {
  font-size : 16px;
  font-weight: lighter;
  align : center;
  font-color : 00923C;

   }

  .header_ndini {
    font-size : 18px;
  font-weight: lighter;
  align : center;
  font-color : 00923C;
  }

  .editTools {
    width : 100%;
    height : 30px;
  }
  .booking_title {
    font-size : 14px;
  font-weight: light;
  align : center;
  font-color : #00923C;
  text-transform: capitalize;
  }

  .product-description {
    font-size : 9px;
  }

}

