<ion-header class="text-success" no-border>
    <ion-navbar color="white">

        <ion-title><span class="text-success header_ndini">{{VehicleInfo.make}} </span></ion-title>
        <ion-buttons start>
            <button ion-button>

      </button>
        </ion-buttons>

        <ion-buttons end>
            <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa fa-car fa-stack-1x fa-inverse"></i>
      </span>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="row">
        <div class="col-xs-12">
            <div class="direct-chat direct-chat-info">
                <div class="direct-chat-msg right">
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="assets/img/avatar.png" alt="user">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text" (click)="addVehicle()">
                        <small><i class="fa fa-plus" aria-hidden="true"></i> Press me to add a Vehicle</small>
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
            </div>
        </div>
    </div>

    <div class="box-body box-profile">

        <img class="profile-user-img img-responsive img-circle" *ngIf="(!VehicleInfo.image == 0)" src="{{VehicleInfo.image}}" alt="picture">
        <img class="profile-user-img img-responsive img-circle" *ngIf="(VehicleInfo.image == 0)" src="assets/img/app_logo.png" alt="picture">

        <h3 class="profile-username text-center">{{VehicleInfo.make}}</h3>

        <p class="text-muted text-center">
            {{VehicleInfo.plates}}
        </p>

        <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
                <b>Color</b> <a class="pull-right"><span class="text-success">
                <img class="img-responsive" src="{{VehicleInfo.color}}" width="25px" />
        </span></a>
            </li>
            <li class="list-group-item">
                <b>Vehicles</b> <a class="pull-right"><span class="text-success">
          <!-- Get Count Of Vehicle -->
        </span></a>
            </li>
        </ul>
    </div>

</ion-content>