
<ion-header>

  <ion-navbar  color="prox">
    <ion-title>PROXiMAT <small>&#174;</small></ion-title>

     <ion-buttons end>
          <div class="row">
            <div class="col-xs-6">
                <button ion-button icon-only (click)= "goToPresentationMode()" >
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                  </span>
                </button>
            </div>
            <div class="col-xs-6">
                <button ion-button icon-only (click)="showPopover($ev0ent)" >
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-warning fa-stack-1x fa-inverse"></i>
                  </span>
                </button>
            </div>
          </div>

      </ion-buttons>

  </ion-navbar>

</ion-header>




<ion-content>


<ion-spinner name="circles" *ngIf="locations === undefined && locationTracker.lng === undefined"></ion-spinner>
<div class="map-container" *ngIf ='locations !== undefined && locationTracker.lat !== undefined' >
    <div id="map" >
    </div>
  </div>
  <ion-fab left bottom>
    <button ion-fab (click)= "stop()" color="prox" ><i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i></button>
    <ion-fab-list side="top">
      <button ion-fab color="prox" (click)="logOut()"  ><i class="fa fa-sign-out" aria-hidden="true"></i></button>
      <button ion-fab  color="prox" (click)= "goToLogging()" ><i class="fa fa-cogs" aria-hidden="true"></i></button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab right bottom>
    <button ion-fab color="prox" (click)= "goToHazards()"><img src="assets/img/p.png" /></button>
  </ion-fab>

</ion-content>



