page-faq {



  pageText {

  }

  .service_ads {
    width : 100%;
    height : 70px;
  }

  .lig {
    font-weight : lighter;
  }

  .pageText {
  font-size : 16px;
  font-weight: lighter;
  align : center;
  font-color : 00923C;

   }

  .header_ndini {
    font-size : 18px;
  font-weight: lighter;
  align : center;
  font-color : #00923C;
  }

  .editTools {
    width : 100%;
    height : 40px;
  }




}
